{% extends "base.html" %}
{% block content %}
<h1 align="center">Редактирование профиля</h1>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div>
        <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </div>
    <div>
        <p>
        {{ form.surname.label }}<br>
        {{ form.surname(class="form-control") }}<br>
        {% for error in form.surname.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </div>
    <div>
        <p>
        {{ form.second_name.label }}<br>
        {{ form.second_name(class="form-control") }}<br>
        {% for error in form.second_name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </div>
    <div>
        <p>
        {{ form.country.label }}<br>
        {{ form.country(class="form-control") }}<br>
        {% for error in form.country.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </div>
    <div>
        <p>
        {{ form.city.label }}<br>
        {{ form.city(class="form-control") }}<br>
        {% for error in form.city.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </div>
        <div>
        <p>
        {{ form.projects.label }}<br>
        {{ form.projects(class="form-control") }}<br>
        {% for error in form.projects.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </div>
        <div>
        <p>
        {{ form.picture.label }}<br>
        {{ form.picture(class="form-control") }}<br>
        {% for error in form.picture.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </div>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}